.hero {
  text-align: center;
  background-image: linear-gradient(to top, #023d53, #023d53);
  padding: var(--size-8) 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  width: 300px;
  height: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--color-grey-700);
  margin: auto;
}

.image img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.hero h1 {
  font-size: var(--size-16);
  margin: var(--size-4) 0;
  color: var(--color-grey-300);
}

.hero p {
  font-size: var(--size-6);
  color: var(--color-grey-200);
  width: 90%;
  max-width: 40rem;
  margin: auto;
}

.intro {
  font-size: var(--size-20);
  margin: var(--size-8) auto;
  padding: 50px;
}

/* Add media query for mobile view */
@media (max-width: 768px) {
  .hero {
    height: auto; /* Allow height to adjust based on content */
    padding: var(--size-6) 0;
  }

  .intro {
    font-size: var(--size-12); /* Reduce font size for smaller screens */
    padding: 20px;
  }

  .hero h1 {
    font-size: var(--size-12); /* Adjust heading size */
  }

  .hero p {
    font-size: var(--size-5); /* Adjust paragraph size */
  }

  .heroSection {
    margin-bottom: var(--size-8); /* Add spacing between sections */
  }
}
